html {
    font-family: Helvetica;
    margin: 0;
}

#boczny_panel {
    background-color: navy;
    color: #fff;
    height: 700px;
    width: 25%;
    float: left;
}

#panel_prawo1 {
    background-color: royalblue;
    height: 100px;
    width: 75%;
    text-align: center;
    float: left;
}

#panel_prawo2 {
    background-color: steelblue;
    height: 300px;
    width: 75%;
    float: left;
}

#panel_prawo3 {
    background-color: royalblue;
    height: 300px;
    width: 75%;
    text-align: center;
    float: left;
}

#stopka {
    background-color: steelblue;
    text-align: center;
    padding: 20px;
    clear: both;
}

h1 {
    letter-spacing: 5px;
}

form {
    margin: 30px;
    line-height: 3;
}

form:hover {
    background-color: deepskyblue;
}


